body {
  scroll-behavior: smooth;
}

button:hover {
  box-shadow: 0 6px 15px rgba(0, 128, 128, 0.25);
}

/* Footer Styling */
.footer-bg {
  background-color: #002d2d;
}

.text-secondary-green {
  color: #00bfa5;
}

